body{
    margin: 0;
    padding: 0;
}
.container{
    width:800px;
    height:768px;
    background-color: cornflowerblue;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.home{
    width: 200px;
    height: 60px;
    background-color: rgb(224, 168, 222);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.imagensai{
    width: 200px;
    height: 60px;
    background-color: rgb(224, 168, 222);
    display: flex;
    justify-content: center;
    align-items: center;
}
.criar{
    width: 200px;
    height: 60px;
    background-color: rgb(224, 168, 222);
    display: flex;
    justify-content: center;
    align-items: center;
}
.criar2{
    width: 200px;
    height: 60px;
    background-color: rgb(224, 168, 222);
    display: flex;
    justify-content: center;
    align-items: center;
}
.filinha{
    width: 800px;
    height: 100px;
    background-color: antiquewhite;
}
.retangulozão{
    width: 800px;
    height: 300px;
    background-color: darksalmon;
    
}
.retangulozão2{
    width: 800px;
    height: 308px;
    background-color: antiquewhite;
}
.redesocial1{
    width: 60px;
    height: 60px;
    background-color: rgb(0, 0, 0);
    margin-top: -90px;
    margin-left: 30px;

} 
.img1{
    width: 100%;
} 
.texto{
    width: 200px;
    height: 100px;
    margin-top: -250px;
    margin-left: 100px;
    background-color: rgb(110, 102, 155);
    font-size: 20px;
    font-family: 'Amatic SC', cursive;
    }