body{
    margin: 0;
    padding: 0;
}
.container{
    width: 800px;
    height: 768px;
    background-color: antiquewhite;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.home{
    width: 200px;
    height: 60px;
    background-color: black;
    display: flex;
   align-items: center; 
   justify-content: center;
   color: azure;

}
.fila{
    width: 800px;
    height: 100px;
    background-color: antiquewhite;
} 
.imagem1{
    width: 185px;
    height: 300px;
    background-color: blue;
} 
.imagem2{
    width: 185px;
    height: 300px;
    background-color: blue;
    margin-left: 20px;
}
.elle{
    width: 800px;
    height: 308px;
    background-color: antiquewhite;
}
.textinho{
    width: 160px;
    height: 100px;
    background-color: antiquewhite;
    margin-top: -270px;
    margin-left: 10px;
    color: rgb(12, 12, 12);
}
.textinho2{
    width: 160px;
    height: 100px;
    background-color: antiquewhite;
    margin-top: -270px;
    margin-left: 45px;  
    color: rgb(5, 5, 5);
}
.redesocial{
    width: 60px;
    height: 60px;
    background-color: antiquewhite;
    margin-top: -90px;
    margin-left: 30px;
}
.img1{
    width: 100%;
}
a{color: rgb(255, 255, 255);
    font-family: fantasy;font-size: 20px;}
    a:hover{
        color: yellowgreen;
    }
    a:link{text-decoration: none;}